@model SMS.Model.AnnoucementModel
@using SMS.Model;
@{
    ViewBag.Title = "AddAnnoucement";
}

<h2>Write Annoucement</h2>

<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/dot-luv/jquery-ui.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="content_box">
        <div class="common_white_box">
            <div class="form_element">
                <div class="row">
                    <div class="col-md-4">

                        <div class="form_input_box">
                            <div class="form-group">
                                <label for="">Subject</label>
                                <div class="input_box">
                                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form_input_box">
                            <div class="form-group">
                                <label for="">Announcement Details <sup class="span_req"><i class="fa fa-star" aria-hidden="true"></i></sup></label>
                                <div class="input_box">
                                    @Html.TextAreaFor(model => model.AnnoucementDetail, new { name = "MailBody", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AnnoucementDetail)
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <div class="form_input_box">
                            <div class="form-group">
                                <label for="">Announcement For</label>
                                <div class="input_box">
                                    @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.RoleList == null ? new SelectListItem() : ViewBag.RoleList, "Value", "Key"), "--Select Role--" , new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="button_div">
                    <div class="form-group">
                        <label for="">&nbsp;</label>
                        <div class="input_box">
                            <button type="submit" class="button button_primary">Save</button>
                            <a href="@Url.Action("Index", "Annoucement")" class="button button_cancel">Cancel</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}




@section Scripts {
   @*<script>
        $(document).ready(function () {
            CKEDITOR.replace('AnnoucementDetail');
        });
    </script>*@
    
}
