@model IEnumerable<SMS.Model.User>

@{
    ViewBag.Title = "Display User";
    var permission = ViewBag.Permission as SMS.Model.FormRoleMapping;
}
<style type="text/css">
    a.mybtn {
        background: #777;
        color: #fff;
        display: inline-block;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
    }
</style>
<h2>Display User</h2>
<p>
    @if (permission.AllowInsert)
    {
       @Html.ActionLink("Create New", "CreateUser", null, htmlAttributes: new { @class = "mybtn" })
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>*@

            <td>
                @if (permission.AllowUpdate)
                {
                    <a class="mybtn" href="@Url.Action("EditUserRoleMapping", "UserMaster", new { id = item.Userid })">Edit</a>
                    <text>|</text>
                }
                @if (permission.AllowDelete)
                {
                    <a class="mybtn" href="@Url.Action("DeleteUser", "UserMaster", new { id = item.Userid })" onclick="return confirm('Are you sure you want to Delete??')">Delete</a>

                }
            </td>

        </tr>

    }

</table>
