
@using Kendo.Mvc.UI


@{
    ViewBag.Title = "Role List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = ViewBag.Permission as SMS.Model.FormRoleMapping;
}
<link href="~/Content/kendo/2017.2.621/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2017.2.621/kendo.metro.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2017.2.621/kendo.default.min.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/font-awesome/css/font-awesome.min.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/et-line-icon/fonts/et-line.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/line-awesome-icon/css/line-awesome.min.css")" />
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/material-icons/material-icon.css")" />
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
@*<script src="~/Kendo/js/jquery.min.js"></script>*@
@*<script src="~/Kendo/js/kendo.all.min.js"></script>*@
<script src="~/Kendo/js/kendo.aspnetmvc.min.js"></script>
<div class="subheader">
    <div class="left_title">
        <h2 style="margin-left:45px">@ViewBag.Title</h2>

    </div>
    <div class="subheader_right">
        @if (permission.AllowInsert)
        {
            <a class="button button_primary button_rounded" href="@Url.Action("CreateRole", "RoleMaster")"style="margin-right:45px">Add Role</a>
        }
    </div>
</div>

<div class="common_white_box listingpage"style="margin-left: 40px; margin-right: 40px">
    <div class="page-loader k-loading-image"></div>

    @(Html.Kendo().Grid<SMS.Model.RoleModel>()
            .Name("gridRoleMST")
            .AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(c => c.Name).Width("10%").Title("Role Name");
                columns.Bound(c => c.RoleCode).Width("10%").Title("Role Code");
                columns.Bound(c => c.IsActive).Width("5%").HeaderHtmlAttributes(new { @class = "center_text" }).HtmlAttributes(new { @class = "kendogrid_Action center-text" }).ClientTemplate("# if(IsActive == true) {#<i class='fa fa-check'></i># } else { #<i class='fa fa-close'></i># } #").Title("Active").Filterable(filterable => filterable.Messages(m => m.IsFalse("No").IsTrue("Yes")));
                columns.Bound(c => c.Id).HeaderHtmlAttributes(new { @class = "center_text" }).HtmlAttributes(new { @class = "kendogrid_Action center_text" }).ClientTemplate("<div class='k_action_table'>" + ("<a title='AllowPermission' href='" + Url.Action( "ViewPermission", "FormRoleMapping") + "/#=Id#'" + "><i class='fa fa-cog'></i></a>") + "</div>").Filterable(false).Title("Action").Width("5%").Sortable(false).Hidden(!permission.AllowInsert);
            })
            .NoRecords("No record found")
            .Events(evt => evt
               .DataBinding("fnKendoGridCommonDataBinding")
               .DataBound("fnKendoGridDataBoundEvent")
            )
            .Sortable()
            .Filterable(filter => filter
                .Mode(GridFilterMode.Row)
                .Extra(false)
                .Operators(o => o.ForString(f => f.Clear().Contains("Contains").DoesNotContain("Does Not Contain").StartsWith("Starts With").EndsWith("Ends With").IsEqualTo("Equal To").IsNotEqualTo("Not Equal To")))
                .Operators(o => o.ForNumber(g => g.Clear().IsEqualTo("EqualTo").IsNotEqualTo("Not Equal To").IsGreaterThan("Greater Than").IsGreaterThanOrEqualTo("Greater Than Or Equal To").IsLessThan("Less Than").IsLessThanOrEqualTo("Less Than Or Equal To")))
            )
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(new[] {10,20, 50, 100, 200 })
                .ButtonCount(5)
            )
             .DataSource(dataSource => dataSource
                 .Ajax()
                 .Sort(sortable=>sortable.Add("RoleCode").Ascending())
                 .Read(read => read.Action("GetGridData", "RoleMaster")).PageSize(10)
             )
    )
</div>


<script>

    $(document).ready(function () {
        $('#gridRoleMST').data('kendoGrid').dataSource.read();
        $('#gridRoleMST').data('kendoGrid').refresh();
    });
    $(document).ajaxComplete(function () {
        $(".page-loader").css("display", "none");
        $(window).resize();
    });
</script>
































@*@model IEnumerable<SMS.Model.RoleModel>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var permission = ViewBag.Permission as SMS.Model.FormRoleMapping;
    }


    <h2>Role List</h2>

    <p>
        @if (permission.AllowInsert)
        {
            @Html.ActionLink("Create New", "CreateRole", null, htmlAttributes: new { @class = "Mybtn" })
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.RoleCode)
                </td>
                <td>
                    <input type="checkbox" value="@item.IsActive" @(item.IsActive == false ? "" : "checked='checked'") class="Checkbox" onclick="CheckValue(@item.IsActive)" id="View_@item.IsActive" />
                </td>
                <td>


                    @Html.ActionLink("AllowPermission", "ViewPermission", "FormRoleMapping", new { id = item.Id }, htmlAttributes: new { @class = "Mybtn" })

                </td>
            </tr>
        }
        <style>
            a.Mybtn {
                background: #777;
                color: #fff;
                display: inline-block;
                padding: 6px 12px 6px 12px;
                text-decoration: none;
            }
        </style>

    </table>*@
