@*@{
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@




<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-2">
            <h1 class="mt-4" style="text-align:center">Details</h1>
            <ol class="breadcrumb mb-2">
                @*<li class="breadcrumb-item active">SMS</li>*@
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-3" style="right:-80px; ">
                    <div class="card bg-success text-white mb-4" style="height: 80px; border:hidden; border-radius:14px; ">
                        <div class="card-body" style="text-align:center; font-size:20px"><a href="@Url.Action("Index", "Student")" style="color:black">Total Student</a></div>
                        <div class="card-footer d-flex align-items-center justify-content-between" style="text-align:center">
                            <a class="large text-white stretched-link" style="font-size:215%; color:blue">@ViewBag.TotalStudent</a>
                            <div class="large text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3" style="left:180px">
                    <div class="card bg-success text-white mb-4" style="height: 80px; border: hidden; border-radius: 14px">
                        <div class="card-body" style="text-align: center; font-size: 20px"><a href="@Url.Action("Index", "Teacher")" style="color:black">Total Teacher</a></div>
                        <div class="card-footer d-flex align-items-center justify-content-between" style="text-align:center">
                            <a class="large text-white stretched-link" style="font-size:215%; color:blue">@ViewBag.TotalTeacher</a>
                            <div class="large text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3" style="left:280px">
                    <div class="card bg-success text-white mb-4" style="height: 80px; border: hidden; border-radius: 14px">
                        <div class="card-body" style="text-align: center; font-size: 20px"><a href="@Url.Action("Index", "Annoucement")" style="color:black">Total Announcement</a></div>
                        <div class="card-footer d-flex align-items-center justify-content-between" style="text-align:center">
                            <a class="large text-white stretched-link" style="font-size:215%; color:blue">@ViewBag.TotalAnnouncement</a>
                            <div class="large text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
